/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
} */

.services-header {
    box-shadow: 0 0 300px 100px black inset;
    background-size: cover;
    background-position: center;
  }
  
  
  .sub-main{
  
      box-shadow: 0 0 40px 1px #ef4444 ;
  }
  
  .loader {
    border: 2px solid transparent;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }